@import 'styles/colors';

.form {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    border-radius: 24px;
    padding: 24px;
    background-color: $white;
    color: $blue;
    box-shadow: 2px 2px $dark-blue;

    h1 {
        margin-bottom: 8px;
    }
}
