@import 'styles/colors';

.input {
    min-width: 100px;
    border: 2px solid $blue;
    border-radius: 32px;
    padding: 12px;
    margin: 8px 0;
    font-size: 18px;
    color: $dark-blue;

    transition: border 0.2s;

    &:focus {
        border: 2px solid $dark-blue;
        outline: none;
    }
}
