.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link {
    width: 120px;
    height: 40px;
    background: lightblue;
    text-align: center;
    font-size: 24px;
    margin-bottom: 12px;
}
